@charset "UTF-8";
/*variables*/ /* Estilos específicos para pantallas pequeñas form. contacto*/
@media (max-width: 600px) {
  form .form-control {
    margin-bottom: 10px;
  }
  .redes {
    text-align: center;
  }
}
/* Estilos específicos para pantallas pequeñas imagenes inicio*/
@media screen and (max-width: 1150px) {
  .fotos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-left: 50px;
    padding: 50px 0;
  }
  .fotos-muestra img {
    max-width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 785px) {
  .fotos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin-left: 150px;
    padding: 50px 0;
  }
  .fotos-muestra img {
    max-width: 200px;
    height: 300px;
  }
}
@media screen and (max-width: 365px) {
  .fotos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin-left: 20px;
    padding: 50px 0;
  }
  .fotos-muestra img {
    max-width: 200px;
    height: 300px;
  }
}
/* Estilos específicos para pantallas pequeñas form. reservas*/
@media screen and (max-width: 600px) {
  .container2 {
    margin-bottom: 10px;
  }
  .redes {
    text-align: center;
  }
}
/****MENU******/
.content {
  font-style: italic;
  text-align: center;
}
.content #titulo {
  color: #fff;
  text-align: center;
  margin-right: 100px;
  font-size: 50px;
}
.content #menu {
  text-align: center;
  color: #fff;
}
.content h3 {
  color: white;
  font-size: 25px;
  text-decoration: underline;
}
.content ul {
  color: white;
  font-size: 12, 5px;
  list-style-type: none;
}
.content p {
  color: white;
  font-size: larger;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 60px;
}

.redes {
  text-align: right;
}

/*************FORMULARIO RESERVAS********/
.container2 {
  margin: auto;
  width: 60%;
  border: 3px solid #6e6e6e;
  border-radius: 10px;
  padding: 0px;
}
.container2 label {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  color: white;
}

h2 {
  color: #fff;
}

/**************FORMULARIO CONTACTO*************/
form {
  border: 3px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}
form label {
  font-weight: bold;
}
form .form-control {
  margin-bottom: 20px;
}
form .invalid-feedback {
  display: block;
  font-size: 14px;
  color: #dc3545;
}
form .btn-primary {
  background-color: #F7941E;
  border-color: #F7941E;
}
form .btn-primary:hover {
  background-color: #2c1ef7;
  border-color: #2c1ef7;
}
form .mb-4,
form .form-label {
  color: #fff;
}

body {
  background-image: url(/images/fondo.png);
  background-size: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

.etc {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 20px 20px 0px 20px;
}

/**************IMAGENES INICIO*************/
.fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin-left: 150px;
  padding: 50px 0;
}

.fotos-muestra img {
  max-width: 500px;
  height: 300px;
}

.accordion-button {
  color: #fff;
  text-align: center;
  background-color: #333;
}

#menufooter {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
}

/*****************NOSOTROS***********/
#historia {
  padding: 50px 0;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}
.container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #fff;
}
.container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}
.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  color: #fff;
}

.mapa {
  margin-top: 30px;
  position: relative;
  padding-bottom: 35%;
  height: 0;
}
.mapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
