/*************FORMULARIO RESERVAS********/

.container2 {
    margin: auto;
    width: 60%;
    border: 3px solid #6e6e6e;
    border-radius: 10px;
    padding: 0px;
    label {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
    }
}

h2 {
    color: $colorprimario;
}
/**************FORMULARIO CONTACTO*************/
form {
    border: 3px solid #ddd;
    padding: 20px;
    border-radius: 10px;
    label {
        font-weight: bold;
    }
    .form-control {
        margin-bottom: 20px;
    }

    .invalid-feedback {
        display: block;
        font-size: 14px;
        color: #dc3545;
    }

    .btn-primary {
        background-color: $colorprincipal;
        border-color: $colorprincipal;
        &:hover {
        background-color: $colorsecundario;
        border-color: $colorsecundario;
    }
}
    .mb-4,
    .form-label {
        color: $colorprimario;
    }
}