@import "variables";
@import "mediaqueries";
@import "menu";
@import "formularios";

body {
    background-image: url(/images/fondo.png);
    background-size: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    color: $colorprimario;
    padding: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

.etc {
    color: $colorprimario;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 20px 0px 20px;
}



    #menufooter {
        background-color: #333;
        color: $colorprimario;
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        text-align: center;
    }

    /*****************NOSOTROS***********/

    #historia {
        padding: 50px 0;
    }

    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 20px;
        h2 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }
        p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 30px;
        color: $colorprimario;
    }
        h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        color: $colorprimario;
    }
        ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        color: $colorprimario;
    }
}

    .mapa {
        margin-top: 30px;
        position: relative;
        padding-bottom: 35%;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

